.boton1 {
  background-color: inherit;; /* white */
  border-radius: none;
  color: $isabelline;
  padding: 8px 8px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  font-weight: $delgada;
}

.boton2 {
  background-color: $shiny-shamrock; /* Green */
  border-radius: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  font-weight: $delgada;
}
