// Esquema de colores
//  Primer esquema de colores

$white: #fff;
$isabelline: #eeeded;
$spanish-gray: #989797;


//  Segundo esquema de colores
$coral: #f5b70e;
$buff: #f1dd7b;
$vainilla: #f5e7a1;

//  Tercer esquema de colores
$flame: #e4572e;
$light-red-ochre: #e87554;
$pastel-pink: #f2b2a0;
//  Cuarto  esquema de colores
$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-gray: #BDDFC7;
//  Quinto  esquema de colores
$blue-de-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;

//  Sexto esquema de colores
$black: #000000;
$outer-space: #454545;
$quick-silver: #A2A2A2;

// Tipografias

$roboto: 'Roboto', sans-serif;
$pt-mono: 'PT Mono', monospace;

// Tamaño de fuentes

$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

// Peso de fuentes

$delgada: 300;
$normal: 400;
