.container__row__imagen__foto {

    width: 899px;
    height: 440px;
    display: block;
    left: 0;
    position: absolute;
    top: 100px;
    z-index: 0;

}

.container__row__bloque1  {
  width: 469px;
  height: 136px;
  display: block;
  background-color: $white;
  left: 431;
  position: absolute;
  top: 406px;
  z-index: 1;
}
