.container-fluid {
  height: 100%;
  padding-right: 0px;
}

nav {
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 25px;
}
.texto {
  font-family: $pt-mono;
}
.container__navigation {
    margin-right: 63px;
    float: right;

}
.container__menu {
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;
  margin-top: 10px;
  color: $isabelline;
  padding-right: 390px;


}
.container__menu {
  ul {
    li {
      display: inline-table;
      padding-left: 10px;
    }
  }
}
.container__menu {
  ul {
    padding-top: 0;
     }
}

.container__navigation__botones {

}
