
.container__row__bloque1  {
  width: 469px;
  height: 136px;
  display: block;
  background-color: $white;
  left: 431;
  position: absolute;
  top: 406px;
  z-index: 1;
}

.container__row__bloque2  {
  width: 134px;
  height: 136px;
  display: block;
  background-color: $flame;
  left: 431;
  position: absolute;
  top: 406px;
  z-index: 0;
}
