* {
  box-sizing: border-box;
}


.box {
  position: absolute;
  float: left;
  margin-top: 4.09rem;
  margin-left: 27.16rem;
  width: 29rem;
  height: 8.5rem;
  padding: 20px 40px 40px 40px;
  background-color: $white;
  display: flex;
  clear: left;
   .mil {
     width: 150px;
   }
}

.cuadros {
  clear: left;

}

.box2 {
  float: left;
  width: 134px;
  height: 136px;
  background-color: $flame;
  text-align: center;
  color: $white;

 .fas {
   margin-top: 25px;
    text-align: center;
    vertical-align: middle;
  }
}

.box3 {
  position: absolute;
  float: left;
  width: 134px;
  height: 136px;
  padding: 50px;
  background-color: $coral;

}

.box4 {
  float: left;
  width: 410px;
  height: 212px;
  padding: 50px;
  clear: left;

}
.box5 {
  float: left;
  width: 460px;
  height: 230px;
  background-color: $blue-de-france;
}


.mapa {
  width: 397px;
  height: 298px;
}

.cafe {
 object-fit: cover;
 width: 100px;
 height: 220px;

}
