* {
  box-sizing: border-box;
}


.box {
  position: absolute;
  float: left;
  margin-top: 4.09rem;
  margin-left: 27.16rem;
  width: 29rem;
  height: 8.5rem;
  padding: 20px 40px 40px 40px;
  background-color: $white;
  display: flex;
  clear: left;
   .mil {
     width: 150px;
   }
}

.cuadros {
  clear: left;

}

.box2 {
  position: absolute;
  float: left;
  width: 8.3rem;
  height: 8.5rem;
  margin-left: 55rem;
  margin-top: -10rem;
  background-color: $flame;
  text-align: center;
  color: $white;
  z-index: 1;

    .fas {
      margin-top: 25px;
      text-align: center;
      vertical-align: middle;
  }
}

.box3 {
  position: absolute;
  float: left;
  width: 8.3rem;
  height: 8.5rem;
  margin-left: 56rem;
  margin-top: -8.7rem;
  background-color: $coral;
}

.box4 {
  float: left;
  width: 435px;
  height: 212px;
  padding: 73px;
  clear: left;

}
.box5 {
  margin-top: -3px;
  float: left;
  width: 460px;
  height: 230px;
  background-color: $blue-de-france;
}


.mapa {
  float: left;
  position: absolute;
  width: 24.6rem;
  height: 13.1rem;
  padding-left: 25.4rem;
  padding-top: 1.5rem;
}
.cafe {
  position: absolute;
  float: left;
  padding-left: 52rem;
  margin-top: -3px;

  img{

  	width: 6rem;
  	height: 10.5rem;
  	object-fit: cover;

  }

}


.maquina {
  margin-top: -3px;
  width: 23.8rem;
  height: 16.68rem;
  float: left;

}
